html {
  height: 90%;
  width: 100%;
 
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
  background-color: #e7e4e4;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


#welcome-container {
    text-align: center; /* Center the content horizontally */
    /*margin-bottom: 20px; /* Add margin to separate it from the buttons */
}

/* Style the welcome message */
h1 {
top: 44px;
  right: 10px;
  color: #a7a0a0;
  font-size: 24px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #080707;
  padding: 15px;
  border-radius: 5px;
  border: 2px solid #ccc;
  text-align: right;
  position: fixed; /* Al
    /*color: pink;
    font-size: 24px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid #ccc;
    display: inline-block; /* Ensure the welcome message behaves as a block element */
}

h4{
  color: #a7a0a0;
  font-size: 29px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #080707;
 
  border-radius: 5px;
  border: 2px solid #ccc;
 
  position: relative;
}


/**/
.container {
  height: 55%;
  width: 20%;
  padding-top: 40px;
  border: 2px solid #9fadad;
  margin-top: 2px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Removed comment block here */

.login-title {
  margin: 25px;
  text-align: center;
  color: white;
  background-color: #636aa1;
}

#signup-form {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

input,
button {
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4%;
  border: 2px solid #ccc;
}

button, #goback {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover, #goback:hover {
  background-color: #0056b3;
}

#goback {
  padding: 14px;
  color: white;
  background-color: #3b82ce;
  position: fixed;
  bottom: 2px;
  left: 70px;
  border: 2px solid #007bff;
}

#exitButton {
  padding: 10px;
  color: white;
  background-color: #3b82ce;
  position: fixed;
  bottom: 12px;
  right: 12px;
  border: 2px solid #007bff;
}
}